<md-toolbar layout="row" class="md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <h1>Evening Raiders</h1>
    <span flex></span>
    <md-button ng-click="core.toggleSidenav('right')" class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-src="img/icons/navigation/ic_menu_24px.svg" alt="Menu"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="column" layout-align="start center" ui-view=""></div>

<md-sidenav md-component-id="right" class="md-sidenav-right" ng-include="'views/sidenav.html'" width="50%"></md-sidenav>

