<md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h1>Youtube Live</h1>
  </div>
</md-toolbar>
<md-card>
  <md-content>
    <iframe width="484" height="272" src="https://www.youtube-nocookie.com/embed/odT2RuLBdsg?rel=0" frameborder="0" allowfullscreen></iframe>
  </md-content>
</md-card>

