body {
  background: #232323 url('../img/background.png') center center;
  background-size: cover;
}

#main {
  height: 100%;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 500px !important;
}

md-card {
  background-color: rgba(255, 255, 255, 0.8);
}

md-toast.md-error-toast-theme {
    background-color: #E53935;
}
