<form name="signupForm"  ng-submit="core.submit()" md-margin>
  <md-card class="md-whiteframe-z5">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h1>
          <md-icon aria-label="Invite yourself" md-svg-src="img/icons/social/ic_person_add_24px.svg" alt="Invite yourself"></md-icon>
          <span>Invite yourself to the Evening Raiders Slack</span>
        </h1>
      </div>
    </md-toolbar>
    <md-card-content>
        <md-input-container>
          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" ng-model="core.credentials.email" required>
          <div ng-messages="signupForm.email.$error" ng-show="signupForm.email.$touched">
            <div ng-message="required">This is required!</div>
            <div ng-message="email">This is email!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ng-model="core.credentials.password" required>
          <div ng-messages="signupForm.password.$error" ng-show="signupForm.password.$touched">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
    </md-card-content>
    <div  id="signupForm" class="md-actions" layout="row" layout-align="end center">
      <md-button type="submit">
        <md-icon aria-label="Invite" md-svg-src="img/icons/content/ic_send_24px.svg" alt="Invite" class="md-primary"></md-icon>
        GO!
      </md-button>
    </div>
  </md-card>
</form>
